.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: var(--clr-dodger-blue);


  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  &__logo {
    margin: 0;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--clr-pickled-bluewood);
    background-color: var(--clr-algae-green);
    transition: box-shadow 0.3s ease-in-out;

    &:focus,
    &:hover {
      color: var(--clr-pickled-bluewood);
      box-shadow: 4px 4px 0px 0px var(--clr-pickled-bluewood);
    }
  }
}